<article id="main" class="special">
	<header>
		<h2>About Us</h2>
	</header>

	<section>
		<p>
			Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
			feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
			ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
			egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
		</p>
	</section>
</article>